mixin password-force(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ""
  -
    let labels = Object.assign({
      title: "Tu contraseña debe incluir:", //["id-password-1"]
      minlength: "Mínimo 8 dígitos", //["id-password-2"]
      oneuppercase: "Una mayúscula o una minúscula", //["id-password-3"]
      onenumber: "Al menos un número", //["id-password-4"]
      onespecial: "Al menos 1 caracter especial", //["id-password-5"]
      equalTo: "Coincidir en ambos campos" //["id-password-6"]
    }, spec.labels);

  .password-force(class=spec.__class)&attributes(attributes)
    .text-muted
      h6= labels.title
      ul
        li.minlength= labels.minlength
        li.oneuppercase= labels.oneuppercase
        li.onenumber= labels.onenumber
        li.onespecial= labels.onespecial
        li.equalTo= labels.equalTo
