mixin password-force(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ""

  .password-force(class=spec.__class)&attributes(attributes)
    .text-muted
      h6= site.data.copy["id-password-1"]
      ul
        li.minlength= site.data.copy["id-password-2"]
        li.oneuppercase= site.data.copy["id-password-3"]
        li.onenumber= site.data.copy["id-password-4"]
        li.onespecial= site.data.copy["id-password-5"]
        li.equalTo= site.data.copy["id-password-6"]
