mixin modal-new-user(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  #modalNewUser.modal-new-user.modal.fade(class=spec.__class, role='dialog', aria-hidden='true', aria-labelledby='modalNewUserLabel', tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          hgroup#modalNewUserLabel
            h4.h6.modal-title(copy-text="16")= site.data.copy["id-16"]
            h4.h4.modal-title(copy-text="17")= site.data.copy["id-17"]
          button.close(data-dismiss='modal', type='button', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          #modalNewUserSteps
            #step0.collapse.show(data-parent='#modalNewUserSteps')
              p(copy-text="18")= site.data.copy["id-18"]
              p(copy-text="19")= site.data.copy["id-19"]
              p.text-center.mt-2
                a.btn.btn-primary.mx-2(data-toggle='collapse', href='#stepBenefits', copy-text="20")= site.data.copy["id-20"]
                a.btn.btn-primary.mx-2(href=baseUrl + 'activacion', copy-text="21")= site.data.copy["id-21"]
            #stepBenefits.collapse(data-parent='#modalNewUserSteps')
              p(copy-text="22")= site.data.copy["id-22"]
              .container
                .row
                  .col-12.col-sm-6
                    ul
                      each val in [0, 1, 2]
                        - var id = (23 + val)
                        li(copy-text=id)= site.data.copy[id]
                  .col-12.col-sm-6
                    ul
                      each val in [0, 1, 2]
                        - var id = (26 + val)
                        li(copy-text=id)= site.data.copy[id]
                p.text-center.mt-2
                  a.btn.btn-primary.mx-2(data-toggle='collapse', href='#stepNip', copy-text="29")= site.data.copy["id-29"]
                  a.btn.btn-primary.mx-2(href=baseUrl + 'activacion', copy-text="21")= site.data.copy["id-21"]
            #stepNip.collapse(data-parent='#modalNewUserSteps')
              p(copy-text="30")= site.data.copy["id-30"]
              p(copy-text="31")= site.data.copy["id-31"]
              p.text-center.mt-2
                a.btn.btn-primary.mx-2(href=baseUrl + 'activacion', copy-text="21")= site.data.copy["id-21"]
              


