include ../form-field/form-field
mixin table(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ""
  - spec.label = spec.label || ""
  - spec.labelAttrs = spec.labelAttrs || {}
  - spec.headers = spec.headers || {}
  - spec.headersAttrs = spec.headersAttrs || {}

  h2.h4.font-weight-bold&attributes(spec.labelAttrs)= spec.label
  .table-responsive
    table.table-component.table.table-hover(class=spec.__class)&attributes(attributes)
      colgroup
        each column in spec.headers
          col(width=column.col)
      thead
        tr&attributes(spec.headersAttrs)
          each column,i in spec.headers
            th(class="h-"+i scope="col")!= column.label
      tbody
      if !block
        script(type="text/template")
          tr
            each row,i in spec.headers
              if row.first
                th(scope="row")
                  if row.default
                    != row.default
                  else
                    | {{#{i}}}
              else
                td(class=[i,{'editable':row.editable}])
                  if !row.editable
                    span.data {{#{i}}}
                  else
                    form.form-inline(action="#")
                      +form-field({
                        type:"text",
                        name:i,
                        attrs: {
                          class:"border-0 bg-white",
                          disabled: true,
                          style: "min-width: 150px"
                        }
                      })(class="mb-0")
                      button.btn.btn-link(type="submit" style="display:none")
                        +icons({icon:"principal-check"})
                      button.btn.btn-link(type="button")
                        +icons({icon:"principal-edit"})
      else
        block