include ../input-group-icon/input-group-icon

mixin form-field(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.name = spec.name || ''
  - spec.label = spec.label || false
  - spec.labelAttrs = spec.labelAttrs || {}
  - spec.type = spec.type || ''
  - spec.inputAttrs = spec.inputAttrs || spec.attrs || {}
  - spec.options = spec.options || {}
  - spec.validation = spec.validation || false

  .form-group.form-field(class=spec.__class)&attributes(attributes)
    if spec.label && spec.type !== "checkbox"
      label(for=spec.name)&attributes(spec.labelAttrs)!= spec.label
    case spec.type
      when "select"
        select.form-control(id=spec.name name=spec.name type=spec.type)&attributes(spec.inputAttrs)
          each optionElem, i in spec.options
            if optionElem.optgroup
              optgroup(label=optionElem.label)&attributes(optionElem.attrs?optionElem.attrs:{})
                each optionsGroup, j in optionElem.options
                  option(value=j=="null"?null:j)&attributes(optionsGroup.attrs?optionsGroup.attrs:{})= optionsGroup.label
            else
              option(value=i=="null"?null:i)&attributes(optionElem.attrs?optionElem.attrs:{})= optionElem.label
      when "textarea"
        textarea.form-control(id=spec.name, name=spec.name, cols="30", rows="10")&attributes(spec.inputAttrs)
      when "input-group-icon"
        - spec.type = spec.inputAttrs.type || 'text'
        +input-group-icon(spec)
      when "icon-submit"
        - spec.iconCustom = true
        - spec.append = true
        - spec.prepend = false
        +input-group-icon(spec)
          button.p-0.btn.btn-link(type="submit" disabled)
            +icons({icon:spec.icon})&attributes(spec.iconAttrs)
      when "submit"
        input.btn.btn-primary.btn-block(type=spec.type name=spec.name)&attributes(spec.inputAttrs)
      when "checkbox"
        if typeof spec.label !== 'object'
          .custom-control.custom-checkbox
            input.custom-control-input(id=spec.name name=spec.name type='checkbox')&attributes(spec.inputAttrs)
            if spec.label
              label.custom-control-label(for=spec.name)&attributes(spec.labelAttrs)!= spec.label
            else
              label.custom-control-label(for=spec.name) &nbsp;
        else
          each label,i in spec.label
            .custom-control.custom-checkbox
              input.custom-control-input(id=spec.name name=spec.name type='checkbox')&attributes(spec.inputAttrs[i])
              label.custom-control-label(for=spec.name)&attributes(spec.labelAttrs)!= label
      when "radio"
        if typeof spec.label !== 'object'
          .custom-control.custom-radio
            input.custom-control-input(type='radio', id=spec.name name=spec.name)&attributes(spec.inputAttrs)
            label.custom-control-label(for=spec.name)&attributes(spec.labelAttrs)!= spec.label
        else
          each label,i in spec.label
            .custom-control.custom-radio
              input.custom-control-input(type='radio', id=spec.name name=spec.name)&attributes(spec.inputAttrs[i])
              label.custom-control-label(for=spec.name)&attributes(spec.labelAttrs)!= label
      default
        input.form-control(id=spec.name name=spec.name type=spec.type)&attributes(spec.inputAttrs)
